@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
  font-family: 'Great Day';
  src: local('Great Day'), url(../public/fonts/GreatDayPersonalUse-14M2.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: Raleway;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
